// MOBILE
.page-header {
  position: relative;

  // padding-top: 12px;
}

.page-header__container {
  position: relative;
}

.page-header__wrapper-logo {
  min-height: 62px;
  
  // &--orange {
  //   background-color: $color-seven;
  // }
  // &--white {
  //   background-color: $color-one;
  // }
}

.page-header__logo {
  position: relative;
margin-top: 12px;
  display: block;
  width: 46px;
  height: 38px;
  padding: 0 15px;
}

.main-nav {
  background-color: $color-seven;
  margin: 0 auto;
  padding: 0 15px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 22px;
  height: 14px;
  background-image: url("../img/icon-open.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 4px;

  width: 14px;
  height: 14px;

  background-image: url("../img/icon-closed.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.main-nav__toggle {
  position: absolute;
  top: 12px;
  right: 15px;

  display: block;
  width: 22px;
  height: 14px;
  padding: 0;
  background-color: transparent;

  border: none;
}
.main-nav__list {
  @include reset-list;
}

.main-nav__item:not(:last-child) {
  margin-bottom: 15px;
}

.main-nav__item:last-child {
  margin-bottom: 40px;
}

.main-nav__link {
  font-family: $font-second;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: $color-five;
  }

  .site-phone {
    margin-bottom: 25px;
  }

  .site-phone__link {
    font-family: $font-second;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color-five;
  }

  .site-social {
    display: flex;
    padding-bottom: 50px;
  }

  .site-social__item:not(:last-child) {
    margin-right: 20px;
  }




// Закрытие меню только для mobile
@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

// TABLET

// @media (min-width: $tablet-width) {
//   background-color: blue;
// }

// // DESKTOP

// @media (min-width: $desktop-width) {
//   background-color: yellow;
// }
