// MOBILE
.page-header {
  position: relative;
}

.page-header__container {
  position: relative;
}

.page-header__wrapper-logo {
  min-height: 62px;
}

.page-header__logo {
  position: relative;

  display: block;
  width: 46px;
  height: 38px;
  margin-top: 14px;
  padding: 0 15px;
}

.main-nav {
  margin: 0 auto;
  padding: 0 15px;

  background-color: $color-seven;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 22px;
  height: 14px;

  background-image: url("../img/icon-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 4px;

  width: 14px;
  height: 14px;

  background-image: url("../img/icon-closed.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.main-nav__toggle {
  position: absolute;
  top: 12px;
  right: 15px;

  display: block;
  width: 22px;
  height: 14px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item:not(:last-child) {
  margin-bottom: 15px;
}

.main-nav__item:last-child {
  margin-bottom: 40px;
}

.main-nav__link {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: $font-second;
  color: $color-five;
}

.site-phone {
  margin-bottom: 25px;
}

.site-phone__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-second;
  color: $color-five;
}

.site-social {
  display: flex;
  padding-bottom: 50px;
}

.site-social__item:not(:last-child) {
  margin-right: 20px;
}

.main__promo {
  min-height: 457px;

  text-align: center;

  background-color: $color-seven;
  background-image: url("../img/img-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main__title-city {
  margin: 0;
  padding: 0;
  padding-top: 47px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: inherit;
  font-family: $font-stack;
  color: inherit;
}

.main__title-heading {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  font-family: $font-second;
  color: inherit;
}

.main__subtitle {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-stack;
  color: inherit;
}

.why {
  padding: 0 15px;

  background-color: $color-three;
  background-image: url("../img/img-paw.png");
  background-repeat: no-repeat;
  background-position: top 55px right -25px;
}

.why__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 70px;
}

.title-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  font-family: $font-second;
  text-align: center;
  color: $color-five;
}

.why__list {
  @include reset-list;
}

.why__items {
  position: relative;

  width: 290px;
  // height: 289px;
  padding-top: 110px;
  padding-left: 25px;

  background-color: $color-one;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);

  @include box-sizing;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
  }

  &--temp::before {
    background-image: url("../img/icon-temp.svg");
  }

  &--camera::before {
    background-image: url("../img/icon-camera.svg");
  }

  &--taxi::before {
    background-image: url("../img/icon-taxi.svg");
  }

  &--nutrition::before {
    background-image: url("../img/icon-nutrition.svg");
  }

  &--strolls::before {
    background-image: url("../img/icon-strolls.svg");
  }

  &--veterinarians::before {
    background-image: url("../img/icon-veterinarians.svg");
  }
}

.why__items:not(:last-child) {
  margin-bottom: 30px;
}

.why__text {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  font-family: $font-second;
  text-align: left;
  color: $color-five;
}

.why__desk {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  font-family: $font-stack;
  text-align: left;
  color: $color-five;
}

.numbers {
  position: relative;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 70px;
  }
}

// Блок слайдера
.numbers__slider {
  position: relative;
}

.numbers__slider input[type="radio"] {
  display: none;
}

.numbers__sliders-inner {
  display: flex;
  margin: 0 15px;
  overflow: hidden;
}

.numbers__slider-block {
  width: 300%;

  transition: transform 0.8s ease;
}

.numbers__block-text {
  width: 290px;
  height: 498px;
}

.numbers__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;

  text-align: center;
}

.numbers__radio {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 3px;

  background: #cccccc;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;

  transition: background-color 0.2s;
}

#btn-1:checked ~ .numbers__controls label[for="btn-1"],
#btn-2:checked ~ .numbers__controls label[for="btn-2"],
#btn-3:checked ~ .numbers__controls label[for="btn-3"] {
  background-color: red;
}

#btn-1:checked ~ .numbers__sliders-inner .numbers__slider-block {
  transform: translate(0);
}

#btn-2:checked ~ .numbers__sliders-inner .numbers__slider-block {
  transform: translate(-290px);
}

#btn-3:checked ~ .numbers__sliders-inner .numbers__slider-block {
  transform: translate(-580px);
}

.numbers__heading {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: $font-second;
  color: $color-five;
}

.number__inner-text {
  padding: 0 25px;
}

.numbers__list {
  position: relative;

  @include reset-list;
}

.numbers__items {
  padding-left: 19px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 11px;
    height: 11px;

    background-color: $color-seven;
    border-radius: 50%;
  }
}



// Закрытие меню только для mobile
// @media (max-width: $mobile-width-only) {
//   .main-nav--closed .main-nav__list {
//     display: none;
//   }

//   .main-nav--nojs .main-nav__toggle {
//     display: none;
//   }
// }

// TABLET

// @media (min-width: $tablet-width) {
//   background-color: blue;
// }

// // DESKTOP

// @media (min-width: $desktop-width) {
//   background-color: yellow;
// }
