
.main__promo {
  min-height: 457px;

  text-align: center;

  background-color: $color-seven;
  background-image: url("../img/img-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main__title-city {
  margin: 0;
  padding: 0;
  padding-top: 47px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: inherit;
  font-family: $font-stack;
  color: inherit;
}

.main__title-heading {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  font-family: $font-second;
  color: inherit;
}

.main__subtitle {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-stack;
  color: inherit;
}
