
.promo {
  min-height: 457px;

  text-align: center;

  background-color: $color-seven;
  background-image: url("../../img/img-bg-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.promo__title-city {
  margin: 0;
  padding: 0;
  padding-top: 47px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: inherit;
  font-family: $font-stack;
  color: inherit;
}

.promo__title-heading {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  font-family: $font-second;
  color: inherit;
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-stack;
  color: inherit;
}


// TABLET

@media (min-width: $tablet-width) {
  .promo {
    min-height: 868px;

    background-image: url("../../img/img-bg-table@2x.jpg");
  }

  .promo__title-city {
    padding-top: 140px;

    font-size: 14px;
    line-height: 17px;
  }

  .promo__title-heading {
    margin-bottom: 15px;

    font-size: 62px;
    line-height: 73px;
  }

  .promo__subtitle {
    margin-bottom: 37px;

    font-size: 20px;
    line-height: 24px;
  }
}


// DESKTOP

@media (min-width: $desktop-width) {
  .promo {
    min-height: 504px;

    text-align: left;

    background-image: url("../../img/img-bg-desktop@2x.jpg");
  }

  .promo__inner {
    padding-left: 198px;
  }
}
