.why {
  background-color: $color-three;
  background-image: url("../img/img-paw-mobile.png");
  background-repeat: no-repeat;
  background-position: top 30px right -45px;
}

.why__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 63px;
}

.title-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  font-family: $font-second;
  text-align: center;
  color: $color-five;
}

.why__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 15px;

  list-style: none;
}

.why__items {
  position: relative;

  flex-grow: 1;
  min-width: 290px;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 25px;

  background-color: $color-one;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(208, 208, 208, 0.541);

  @include box-sizing;
}

.why__items-svg {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  padding-top: 25px;
}

.why__text {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  font-family: $font-second;
  text-align: left;
  color: $color-five;
}

.why__desk {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  font-family: $font-stack;
  text-align: left;
  color: $color-five;
}

// TABLET

@media (min-width: $tablet-width) {
  .why {
    background-image: url("../img/img-paw-table.png");
    background-position: top -10px right -110px;
  }

  .why__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    padding-top: 120px;
  }

  .why__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 45px;

    @include box-sizing;
  }

  .why__items {
    flex-grow: 1;
    width: 324px;
    padding-right: 40px;
    padding-left: 25px;
  }

  .why__items-svg {
    width: 75px;
    height: 75px;
  }

  .why__items:nth-child(odd) {
    margin-right: 30px;
  }

  .why__text {
    font-size: 20px;
    line-height: 28px;
  }
}

// DESKTOP

@media (min-width: $desktop-width) {
  .why {
    background-image: url("../img/img-paw-desktop.png");
    background-position: top -30px right -120px;
  }

  .why__title {
    margin-bottom: 70px;
    padding-top: 140px;
  }

  .why__list {
    max-width: 1750px;
    padding: 0 98px;
  }

  .why__items {
    width: 370px;
    margin-bottom: 20px;
    padding-right: 50px;
    padding-left: 30px;
  }

  .why__items-svg {
    width: 91px;
    height: 94px;
    margin-bottom: 35px;
    padding-top: 30px;
  }

  .why__items:nth-child(2n) {
    margin-right: 30px;
  }

  .why__text {
    font-size: 22px;
    line-height: 31px;
  }

  .why__desk {
    font-size: 16px;
    line-height: 22px;
  }
}
