$color-one: #ffffff;
$color-two: #fffdfb;
$color-three: #fffefd;
$color-four: #fffdfb;
$color-five: #1a212f;
$color-six: #ff7236;
$color-seven: #fac663;
$color-eight: #ffaa50;
$color-nine: #e1e1e1;
$color-ten: #8f8f8f;
$color-eleven: #ff913c;
$color-twelve: #fab751;
$color-thirteen: #efefef;
$color-fourteen: #b5b5b5;
$color-fifteen: #d7d7d7;
$color-sixteen: #777777;
$color-seventeen: #c4c4c4;
$color-eighteen: #e1e1e1;
$color-nineteen: #ffaa50;
$color-twenty: #8f8f8f;
$color-twenty-one: #ff913c;
$color-twenty-two: #b5b5b5;
$color-twenty-three: #fab751;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
$retina-dppx: 1.5dppx;
$font-stack: "Lato", "Arial", sans-serif;
$font-second: "Rubik", "Arial", sans-serif;
